.character-card {
    animation: fade-in .5s ease-in-out;
}

html {
 padding: 0px;
}

h1, h2, h3, h4, h5, p, a, li, button, textarea, input {
    font-family: fantasy;
}

button, .game-map {
    background-color: #6B1700;
    opacity: .9;
    color: white !important;
}

.turn-phone-warning {
    display: flex;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}